<div class="main">
    <div class="content-center">
        <div class="col-md-12 col-sm-12">
            <div class="tim-title">
                <h2 class="text-center service" > </h2>
            </div>
            <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <p class="text-center"  >I have completed some project in different different company. Here is some image and discription about the project </p>
            </div>
        </div>
    </div>


 <div class="section " >
          <div class="container">
              <div class="row " > 
                    <div class="col-md-4 col-12 " data-aos="fade-down">
                        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded " style="width: 18rem;">
                            <ngb-carousel class="card text-center">
                                <ng-template ngbSlide>
                                    <img src="./assets/img/loginpage.png" style="height: 200px;" alt="Random first slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/Dashboard.png"  style="height: 200px;" alt="Random second slide">                                              
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/forms (2).png"  style="height: 200px;" alt="Random third slide">                                               
                                </ng-template>
                            </ngb-carousel>
                            <div class="card-body" data-aos="fade-down">
                                <h5 class="card-title">JACHGHAR APP</h5>
                                <p class="card-text"> I am working on Jachghar app in MeanStack. In app form, dashboard, and list of the form has shown from angular to nodejs.
                                    <span id="dots"></span><span *ngIf ="visible" > In App there is login and signup pages. When the usere has an id they authorised to inter the Dashboard else you will got error you are not authorised.
                                    When you fill the data and hit to submit data Saved in database.</span>  </p>
                                    <span class="label label-info" (click)="myFunction()" id="myBtn">{{ReadMore?"Read More":"read Less"}}</span>       
                               
                            </div>             
                    </div>                                 
                </div>
                <div class="col-md-4 col-12" data-aos="fade-down">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                        <ngb-carousel >
                            <ng-template ngbSlide>
                                <img src="./assets/img/soroush-karimi.jpg" style="height: 200px;" alt="Random first slide">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/federico-beccari.jpg"  style="height: 200px;" alt="Random second slide">                                              
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/joshua-stannard.jpg"  style="height: 200px;" alt="Random third slide">                                               
                            </ng-template>
                        </ngb-carousel>
                        <div class="card-body" data-aos="fade-down">
                            <h5 class="card-title">School Management App</h5>
                            <p class="card-text">I have created a app of School Management. I have six Months expression in Angular 8 from Mavayh Technology.<span id="dots"></span><span *ngIf ="visible" >
                                 I was work on web design or api over here.  In this app there is multiple things like student forms,attendance, class, timetable, loginpage etc.
                                 my role over hear to manage design create forms or apis to post data or list data .i have create login page by my self. there is a loat of things which our team has worked </span></p>       
                                 <span class="label label-info" (click)="myFunction()" id="myBtn">{{ReadMore?"Read More":"read Less"}}</span>       
                                </div>             
                </div>                       
            </div>
            <div class="col-md-4 " data-aos="fade-down">
                <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    
                    <ngb-carousel >
                        <ng-template ngbSlide>
                            <img src="./assets/img/oltech1.png" style="height: 200px;" alt="Random first slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/oltech2.png"  style="height: 200px;" alt="Random second slide">                                              
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/oltech3.png"  style="height: 200px;" alt="Random third slide">                                               
                        </ng-template>
                    </ngb-carousel>
                    <div class="card-body">
                        <h5 class="card-title">OLTech Solutions</h5>
                        <p class="card-text"> I have create a website for OlTech Solutions pvt ltd. You Can visit <a href="https://www.oltech.co.in/"> www.oltech.co.in </a> I have completed six months intern over here.<span id="dots"></span><span *ngIf ="visible" > I used hala theam in wordpress to create a beautyfull website. This is my first website which i was create. It take much time to built but at the end it's look ausome according to vivek sir. 
                             </span>  </p>
                            <span class="label label-info" (click)="myFunction()" id="myBtn">{{ReadMore?"Read More":"read Less"}}</span>       
                    </div>            
            </div>                       
        </div>
            </div>             
</div>

  </div>
</div>
