<div class="main">
  <div class="content-center">
  <div class="content-center">
      <h2 class="text-center res" > </h2>
      <div class="col-md-12 container" style="text-align: center;">
        <div class="row" style="margin-top: 30px;">                
            <div class="container">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12" >
                            <p style="font-family:URW Chancery L, cursive"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >Looking forward for an opportunity to work in a dynamic, challenging environment where I can 
                                Utilize my skills to contribute towards organization’s growth and to develop myself as a 
                                Respectable professional. </p>
                                
                                        <div class="row">
                                            
                                            <div class="col-md-6 ">
                                                
                                                <div class="tim-title" style="text-align: center" >
                                                
                                                    <h3 data-aos="zoom-in-down">Personal Details</h3>
                                                </div>
                                                    <div class=" col-md-10 col-xs-12  col-sm-12  offset-md-1" >
                                                        <img src="assets/img/sadi.jpg" style="width: 200px; height: 200px;" class="img-thumbnail img-responsive" data-aos="zoom-in" alt="Rounded Image">
                                                        <div  class="text-primary" style="font-family:URW Chancery L, cursive; " data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                                                                                                                 
                                                            <h6 style="font-family:URW Chancery L, cursive;">Md. Sadique Shafi</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Date of Birth 15/01/1998</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Mobile No: - 8210167414 </h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Email:- <span  style="text-transform: lowercase;">sadiqueshafi@outlook.com</span>  </h6>
                                                        </div>

                                                    </div>
                                                    <br/>
                                                
                                            </div>
                                            <div class="col-md-6 ">
                                                
                                                <div class="tim-title" style="text-align: center" >
                                                
                                                    <h3>Professional Experience</h3>
                                                </div>
                                                        <div  class="text-primary"  style="font-family:URW Chancery L, cursive;" style="text-align: left" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
                                                                                                                 
                                                            <h6 style="font-family:URW Chancery L, cursive;">JACHGHAR APP (self)</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Roles and Responsibilities :-</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Creating JACHGHAR APP in Mean Stack (current) </h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Mavyah Technologies Pvt. Ltd. (OCT 2019 – Apr 2020)  </h6>
                                                            <h6 style="font-family:URW Chancery L, cursive;">Roles and Responsibilities:</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Creating UI using angular 8 :-</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Create school management web-app </h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">PapaFit Technologies (Intern) (AUG 2019 – OCT 2019)  </h6>
                                                            <h6 style="font-family:URW Chancery L, cursive;">Work on angular fuse template:</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">OLTECH Solutions Pvt. Ltd. (Intern) (AUG 2018 – FEB 2019)</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Worked on Word Press Halla theme</h6>
                                                            <h6  style="font-family:URW Chancery L, cursive;">Create Website for corporate (www.oltech.co.in)  </h6>
                                                        </div>

                                            </div>
                                            <div class="col-md-12" >
                                                <div class="tim-title">
                                                            <h3>SkillSet</h3>
                                                            <br/>
                                                        </div>
                                                    <div class="row">

                                                <div class="col-md-4"  >
                                                        <h5 style="font-family:URW Chancery L, cursive;">Frontend</h5>  
                                                        <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000"> 
                                                            <ngb-progressbar  type="success" class="mt-0" [value]="80" [striped]="true" [animated]="true" ><i><b>Angular 8</b></i></ngb-progressbar><br>
                                                        </div>                                                           
                                                       <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
                                                            <ngb-progressbar type="info" class="mt-0" [value]="90" [striped]="true" [animated]="true" ><b>HTML,CSS</b></ngb-progressbar><br>
                                                        </div>
                                                        <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                                                          <ngb-progressbar type="warning" class="mt-0" [value]="90" [striped]="true" [animated]="true" ><b>JavaScript</b></ngb-progressbar><br>
                                                        </div>
                                                        <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="2500">
                                                          <ngb-progressbar type="danger" class="mt-0" [value]="90" [striped]="true" [animated]="true" ><b>Typescript</b></ngb-progressbar><br>
                                                        </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <h5 style="font-family:URW Chancery L, cursive;">Database</h5>                                                       
                                                  <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                                                    <ngb-progressbar type="warning" class="mt-0" [value]="80" [striped]="true" [animated]="true"><i>MongoDB</i></ngb-progressbar><br>
                                                  </div>
                                                  <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
                                                    <ngb-progressbar type="danger" class="mt-0" [value]="50" [striped]="true" [animated]="true"> MySql</ngb-progressbar>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <h5 style="font-family:URW Chancery L, cursive;">Backend</h5>                                                       
                                                    <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                                                      <ngb-progressbar type="success" class="mt-0" [value]="60">Nodejs</ngb-progressbar><br>
                                                    </div>
                                                    <h5 style="font-family:URW Chancery L, cursive;">Language</h5>                                                       
                                                    <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
                                                      <ngb-progressbar type="warning" class="mt-0" [value]="50" [striped]="true" [animated]="true"><i>C</i></ngb-progressbar><br>
                                                    </div>
                                                    <div data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                                                      <ngb-progressbar type="danger" class="mt-0" [value]="40" [striped]="true" [animated]="true"> Python</ngb-progressbar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
<!-- </div></div>                                   -->
                        <!-- <button type="button" class="btn btn-danger">Default</button>
                        <button type="button" class="btn btn-danger btn-round">Round</button>
                        <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> With Icon</button>
                        <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-danger btn-link">Simple</button>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000" -->
            <!-- <p class="mb-0" style="font-family:URW Chancery L, cursive"></p> -->
              
            <!-- <p style="font-family:URW Chancery L, cursive">My Hobby is Playing cricket and like to tavel.
         My optimist attitude and decision making has help me to solve my various challenge in my academy and professional life.  </p> -->
        <!-- <button type="button" class="btn btn-danger">Default</button>
        <button type="button" class="btn btn-danger btn-round">Round</button>
        <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> With Icon</button>
        <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button>
        <button type="button" class="btn btn-danger btn-link">Simple</button>
    </div> -->
    <div class="row">
        <div class="col-md-6 col-12" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
            <div class="tim-title " style="text-align: center" >                                  
                <h3>Education Qualifications</h3>
            </div>
                <table class="table" style="color: black;font-family:URW Chancery L, cursive;">
                    <thead>
                      <tr>
                        <th scope="col">Qualification</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Board/ University</th>
                        <th scope="col">Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">High School</th>
                        <td></td>
                        <td style="color: black;font-family:URW Chancery L, cursive;">BSEB</td>
                        <td style="color: black;font-family:URW Chancery L, cursive;">2012</td>
                      </tr>
                      <tr>
                        <th scope="row">Intermediate</th>
                        <td style="color: black;font-family:URW Chancery L, cursive;">PCM</td>
                        <td style="color: black;font-family:URW Chancery L, cursive;">BSEB</td>
                        <td style="color: black;font-family:URW Chancery L, cursive;">2014</td>
                      </tr>
                      <tr>
                        <th scope="row">Bachelor Degree</th>
                        <td style="color: black;font-family:URW Chancery L, cursive;">B.Tech (CSE)</td>
                        <td style="color: black;font-family:URW Chancery L, cursive;">AKTU   (J.I.T)</td>
                        <td style="color: black;font-family:URW Chancery L, cursive;">2018</td>
                      </tr>
                    </tbody>
                  </table>
           
        </div> 
        
        <div class="col-md-6 col-12" >
            <div class="tim-title " style="text-align: center "  >                                  
                <h3>Training/Certification:-</h3>
              </div>
                <table class="table " style="text-align: center;font-family:URW Chancery L, cursive;" >
                    <thead>
                      <tr class="table-primary">
                        <th scope="col">Name of the Organization</th>
                        <th scope="col">Certification</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-secondary">
                        <th scope="row">Cetpa</th>
                        <td>Python, Django</td>

                      </tr>
                      <tr class="table-success">
                        <th scope="row">Training Basket</th>
                        <td>Angular 8</td>
                      </tr>
                      
                    </tbody>
                  </table>
         
            </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="tim-title " style="text-align: center "  >                                  
                        <h3 >Accomplishments</h3>
                        <p style="font-family:URW Chancery L, cursive;"> Winning Certificates in Table Tennis.</p>
                        <p style="font-family:URW Chancery L, cursive;">Win several high scorer certificates in different subjects.</p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Hobbies / Interests</h3>
                    <p style="font-family:URW Chancery L, cursive;">Playing Cricket, Table Tennis and love to Travel.</p>
                    <!-- <p>Win several high scorer certificates in different subjects.</p> -->
                    
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>References:-</h3>
                    <p style="font-family:URW Chancery L, cursive;"> 1 Md Arif Azim </p>
                    <p style="font-family:URW Chancery L, cursive;">DevOps Engineer</p>
                    <p style="font-family:URW Chancery L, cursive;"> GoScale Pvt Lmt #8892501064  </p>
                    <p style="font-family:URW Chancery L, cursive;">I hereby declare that the information provided above is true to the best of my knowledge.</p>
                    

                </div>
            </div>
         </div>
        </div>
    </div>
</div></div>
</div>