<footer class="footer">
    <div class="container section section-dark">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain" style="margin-top: 0px;margin-bottom: 0px;">
                    <div class="card-avatar" style="margin-bottom: 0px;">
                        <img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="...">
                    </div>
                    <div class="tim-title" style="text-align: center; margin-top: 0px; color: aliceblue; margin-bottom: 0px;" >                  
                        <h3>Md Sadique Shafi</h3>
                        <h6>Angular 8 Developer</h6>
                        <h6>Mob No:-<b>8210167414</b></h6>
                        <h6>Email Id:-<span style="text-transform: lowercase;"> sadiqueshafi@outlook.com</span></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4"></div>
        
            <div class="col-md-4" >
                <div class="tim-title" style="text-align: center; margin-top: 0px; color: aliceblue; margin-bottom: 0px;" >                  
                    <h3>Address :-</h3>
                    <p>Choudhary Mohalla, Katihar, Bihar</p>
                    <p>PinCode:- 854105</p>
                    <div class="row">
                     <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                    <a class="nav-link" rel="tooltip" title="Follow us on Linkedin" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <p class="d-lg-none">Linkedin</p>
                    </a>
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
</footer>
